.dotnetType {
    color: #4ec9b0;
    font-family: monospace;
    font-weight: bold;
    text-transform: none;
}

.dotnetGrey {
    color: #d4d4d4;
    font-family: monospace;
    font-weight: bold;
    text-transform: none;
}

.psType {
    color: #9cdcfe;
    font-family: monospace;
    font-weight: bold;
    text-transform: none;
}

.psCommand {
    color: #dcdcab;
    font-family: monospace;
    font-weight: bold;
    text-transform: none;
}

.psError {
    color: #cc0000;
    font-family: monospace;
    font-weight: bold;
    text-transform: none;
}

.psSigil {
    color: #569cd6;
    font-family: monospace;
    font-weight: bold;
    text-transform: none;
}
